@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale Down Animation */
.dropdown_menu {
  display: none;
  transform-origin: top center;
  opacity: 0;
}

.group:hover .dropdown_menu {
  display: block;
  animation: scaleDown 300ms ease-in-out forwards;
}

@keyframes scaleDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  80% {
    transform: scaleY(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}